.table {
	width: 100% !important;
	border-collapse:separate; 
	border-spacing:0 15px; 
	border-radius: 5px;
}

.table th, .table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #EBEDF3;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #EBEDF3;
}

.table tbody + tbody {
	border-top: 2px solid #EBEDF3;
}

.table thead th, .table thead td {
	font-weight: 600;
	font-size: 1rem;
	border-bottom-width: 1px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.table.table-head-custom thead tr, .table.table-head-custom thead th {
	font-weight: 600;
	color: #B5B5C3 !important;
	font-size: 0.9rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.table.table-vertical-center th, .table.table-vertical-center td {
	vertical-align: middle;
	background: #FFFFFF;
	min-width: 40px !important;
}

.table.table-head-bg thead tr, .table.table-head-bg thead th {
	background-color: #f8f8f8;
	border-bottom: 0;
	letter-spacing: 1px;
}

.table.table-head-bg thead tr:first-child, .table.table-head-bg thead th:first-child {
	border-top-left-radius: 0.42rem;
	border-bottom-left-radius: 0.42rem;
}

.table.table-head-bg thead tr:last-child, .table.table-head-bg thead th:last-child {
	border-top-right-radius: 0.42rem;
	border-bottom-right-radius: 0.42rem;
}